<ion-view view-title="Achievements">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">What I have Achieved........</strong>
        </div>
		<div class="list">
                <a class="item item-avatar">
                    <img src="img/techno.png">
                    <h2><b>Technovation Challenge 2014</b></h2>
                    <div class="item item-text-wrap">I have participated in Technovation Challenge 2014 with my team. Our Eagle Eye idea got shortlisted in Asian pacific level competition. And our idea was announced in technovation challenge official website.</div>
                </a>
                <a class="item item-avatar">
                    <img src="img/wetech.jpg">
                    <h2><b>WeTech Pitch Event</b></h2>
                    <div class="item item-text-wrap">Our Idea got First prize in WeTech pitch event held at Bangalore. </div>
                </a>
               	<a class="item item-avatar">
                    <img src="img/chennai.jpg">
                    <h2><b>Chennai Pitch Event</b></h2>
                    <div class="item item-text-wrap">Our team was selected in top 10 to present our idea in WeTech(Women Enhancement) Pitch Event.</div>
                </a>
				<a class="item item-avatar">
                    <img src="img/aarambam.jpg">
                    <h2><b>Aarambam Start-Up Contest</b></h2>
                    <div class="item item-text-wrap">Aarambam StartUp Contest happening at madurai.Our idea was selected in top 5 teams for final pitch and we presented our idea in front of ventures.</div>
                </a>
				<a class="item item-avatar">
                    <img src="img/ibm.jpg">
                    <h2><b>IBM Hackathon</b></h2>
                    <div class="item item-text-wrap">We are the Winner of this Hackathon  competition. Theme was to develop applications or product to solve the social problems in our country.This Hackathon is initiated by Narendra Modi. This was held at Bangalore.</div>
                </a>

                 <a class="item item-avatar">
                    <img src="img/bestout.jpg">
                    <h2><b>Best Outgoing Student</b></h2>
                    <div class="item item-text-wrap">I am the best outgoing student of our college.</div>
                </a>
				<a class="item item-avatar">
                    <img src="img/code.jpg">
                    <h2><b>WomenWhoCode</b></h2>
                    <div class="item item-text-wrap">We won first prize in WomenWhoCode Hackathon which was conducted by Hike. Travel to Hike headquaters in Delhi.</div>
                </a>
            </div>
		<center><a href="#/app/magazine" class="button button-outline button-assertive">Magazines >></a></center>		
    </ion-content>
</ion-view>
