<ion-view view-title="Contact Details">
    <ion-content class="im-wrapper">
        <div class="list">
                <a class="item item-avatar">
                    <img src="img/add.png">
                    <h2><b>Address</b></h2>
                    <div class="item item-text-wrap">Madurai - 625009, India.</div>
                </a>
                <a class="item item-avatar" href="tel:+919988776655">
                    <img src="img/mobile.jpg">
                    <h2><b>Ring Me</b></h2>
                    <div class="item item-text-wrap">+91 9988776655</div>
                </a>
               	<a class="item item-avatar" href="mailto:vaishnavi3051995@gmail.com">
                    <img src="img/mail.png">
                    <h2><b>Mail Me</b></h2>
                    <div class="item item-text-wrap">sample@gmail.com</div>
                </a>
				<a class="item item-avatar" href="#">
                    <img src="img/fb.png">
                    <h2><b>Facebook</b></h2>
                    
                </a>
				<a class="item item-avatar" href="#">
                    <img src="img/twit.png">
                    <h2><b>Twitter</b></h2>
                    
                </a>
                 <a class="item item-avatar" href="#">
                    <img src="img/link.jpg">
                    <h2><b>Linkedin</b></h2>
                    
                </a>
                 <a class="item item-avatar" href="#">
                    <img src="img/git.jpg">
                    <h2><b>Github</b></h2>
                    
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/weblink.png">
                    <h2><b>AboutMe page</b></h2>
                    
                </a>
            </div>
    </ion-content>
</ion-view>
