<ion-view view-title="About Me">
<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
				<strong class="title">What I am doing..........</strong>
			</div>   	
		<center>
		   <div class="list">
					<a class="item item-thumbnail-left">
						<img src="img/entre.png">
						<h2><b>Entrepreneur</b></h2>
						<div class="item item-text-wrap"><b>"Don't be a Job Seeker, Be a Job Maker"</b> This quotes impressed me. So that now I became an Entrepreneur. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/app.png">
						<h2><b>Mobile App Developer</b></h2>
						<div class="item item-text-wrap">As Mobile App developer I love to create many ideas which will solve the social problem and give life to that ideas using Mobile App Technology. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/bestmentor.png">
						<h2><b>Mentoring</b></h2>
						<div class="item item-text-wrap">I believe the value of your knowledge will go up when you start sharing with others. 
													So that I share my knowledge with others when I learned new things in my free time. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/open.png">
						<h2><b>Open Source Developer</b></h2>
						<div class="item item-text-wrap">I am an active Open Source Contributor. Open Source Technology is a powerful tool to share our knowledge and learn new things from that.</div>
					</a>
				</div>
			</center>
    </ion-content>
</ion-view>
