<ion-view view-title="Projects">
<ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">What Projects I have done..........</strong>
            </div>      
        <center>
            <div class="list">
                <a href="#/app/eagle" class="item item-avatar item-icon-right">
                    <img src="img/eagle.png">
                    <h2><b>Eagle Eye</b></h2>
                    <div class="item item-text-wrap">Detect the theif using Mobile App.</div>
                </a>
                <a href="#/app/smart" class="item item-avatar item-icon-right">
                    <img src="img/smart.jpg">
                    <h2><b>Smart Farming</b></h2>
                    <div class="item item-text-wrap">Automatically Feeding water to the  Farming lands.</div>              
                </a>
                <a href="#/app/online" class="item item-avatar item-icon-right">
                    <img src="img/online.png">
                    <h2><b>Online Admission Form</b></h2>
                    <div class="item item-text-wrap">Admission process through Online.</div>
                </a>
                <a href="#/app/money" class="item item-avatar item-icon-right">
                    <img src="img/money.png">
                    <h2><b>Money Collect</b></h2>
                    <div class="item item-text-wrap">Collecting money for all events  using Mobile App.</div>
                </a>
            </div>
            </center>
    </ion-content>
</ion-view>
