<ion-view view-title="TimeLine">
    <ion-content>
	<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Each Moments of my Life.......</strong>
    </div>
     <div class="list">
					<a class="item item-thumbnail-left">
						<img src="img/baby.png">
						<h2><b>I was born</b></h2>
						<div class="item item-text-wrap">I was born in Madurai,<b>30th May 1995.</b>Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/kg.png">
						<h2><b>Started My Schooling</b></h2>
						<div class="item item-text-wrap"><b>June 1999 - May 2001</b> <br>This is the best part of my life.I learnt many things in this period. I started 
							learning writing alphabet and numbers. This is really interesting part which I never enjoyed after that period in my life.</div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/middle.png">
						<h2><b>Middle School</b></h2>
						<div class="item item-text-wrap"><b>RC Middle School</b><br><b>June 2001 - May 2008</b><br>During the schoolings I thought getting good mark is the big thing and that is important. Normally, this is the basic thought of all people. But now I realised that it is not a big deal. Gaining Knowledge is important. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/highsch.png">
						<h2><b>Completed SSLC</b></h2>
						<div class="item item-text-wrap"><b>St. Joseph's Girls HSS</b><br><b>June 2008 - May 2010</b><br>During the schoolings I thought getting good mark is the big thing and that is important. Normally, this is the basic thought of all people. But now I realised that it is not a big deal. Gaining Knowledge is important. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/higher.png">
						<h2><b>Completed HSS</b></h2>
						<div class="item item-text-wrap"><b>St. Joseph's Girls HSS</b><br><b>June 2010 - May 2012</b><br>During the schoolings I thought getting good mark is the big thing and that is important. Normally, this is the basic thought of all people. But now I realised that it is not a big deal. Gaining Knowledge is important. </div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/clg.png">
						<h2><b>Graduated B.SC CS</b></h2>
						<div class="item item-text-wrap"><b>Kamaraj University</b><br><b>June 2012 - May 2015</b><br>I Completed my Bachelors degree of  Computer Science in Thiagarajar College. During the joining period of College I want to go Job in MNC's.When I come out of the College I bacame an Entrepreneur.</div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/bestvol.png">
						<h2><b>Metoomentor Volunteer</b></h2>
						<div class="item item-text-wrap"><b>December 2014 - present</b><br>Metoomentor platform started with the objective of giving technological opportunity to everyone, mainly focusing on young students in tier 2 and tier 3 cities in India.I am a part of this platform.</div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/entreme.png">
						<h2><b>Entrepreneur</b></h2>
						<div class="item item-text-wrap"><b>NextCloudCampus Inc</b><br><b>May 2015 - present</b><br>My dream comes true now. I am a co-founder of NextCloudCampus Inc. I develop many protection app for colleges,MNC's and for normal users. </div>
					</a>
		</div>   
    </ion-content>
</ion-view>
